<h1>Flujo Detallado</h1>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="fecha_programada">
    <th mat-header-cell *matHeaderCellDef> Fecha Programada </th>
    <td mat-cell *matCellDef="let element"> {{element.fecha_programada}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="inflacion_periodo">
    <th mat-header-cell *matHeaderCellDef> Inflacion Periodo </th>
    <td mat-cell *matCellDef="let element"> {{element.inflacion_periodo}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="plazo_gracia">
    <th mat-header-cell *matHeaderCellDef> Plazo de gracia </th>
    <td mat-cell *matCellDef="let element"> {{element.plazo_gracia}} </td>
  </ng-container>

  <ng-container matColumnDef="bono">
    <th mat-header-cell *matHeaderCellDef> Bono </th>
    <td mat-cell *matCellDef="let element"> {{element.bono}} </td>
  </ng-container>

  <ng-container matColumnDef="bono_indexado">
    <th mat-header-cell *matHeaderCellDef> Bono Indexado </th>
    <td mat-cell *matCellDef="let element"> {{element.bono_indexado}} </td>
  </ng-container>

  <ng-container matColumnDef="cupon">
    <th mat-header-cell *matHeaderCellDef> Cupon </th>
    <td mat-cell *matCellDef="let element"> {{element.cupon}} </td>
  </ng-container>

  <ng-container matColumnDef="cuota">
    <th mat-header-cell *matHeaderCellDef> Cuota </th>
    <td mat-cell *matCellDef="let element"> {{element.cuota}} </td>
  </ng-container>

  <ng-container matColumnDef="amortizacion">
    <th mat-header-cell *matHeaderCellDef> Amortizacion </th>
    <td mat-cell *matCellDef="let element"> {{element.amortizacion}} </td>
  </ng-container>

  <ng-container matColumnDef="prima">
    <th mat-header-cell *matHeaderCellDef> Prima </th>
    <td mat-cell *matCellDef="let element"> {{element.prima}} </td>
  </ng-container>

  <ng-container matColumnDef="escudo">
    <th mat-header-cell *matHeaderCellDef> Escudo </th>
    <td mat-cell *matCellDef="let element"> {{element.escudo}} </td>
  </ng-container>

  <ng-container matColumnDef="flujo_emisor">
    <th mat-header-cell *matHeaderCellDef> Flujo Emisor </th>
    <td mat-cell *matCellDef="let element"> {{element.flujo_emisor}} </td>
  </ng-container>

  <ng-container matColumnDef="flujo_emisor_escudo">
    <th mat-header-cell *matHeaderCellDef> Flujo Emisor/Escudo </th>
    <td mat-cell *matCellDef="let element"> {{element.flujo_emisor_escudo}} </td>
  </ng-container>

  <ng-container matColumnDef="flujo_bonista">
    <th mat-header-cell *matHeaderCellDef> Flujo Bonista </th>
    <td mat-cell *matCellDef="let element"> {{element.flujo_bonista}} </td>
  </ng-container>

  <ng-container matColumnDef="flujo_actual">
    <th mat-header-cell *matHeaderCellDef> Flujo Actual </th>
    <td mat-cell *matCellDef="let element"> {{element.flujo_actual}} </td>
  </ng-container>

  <ng-container matColumnDef="flujo_actual_plazo">
    <th mat-header-cell *matHeaderCellDef> Flujo AxP </th>
    <td mat-cell *matCellDef="let element"> {{element.flujo_actual_plazo}} </td>
  </ng-container>

  <ng-container matColumnDef="factor_convexidad">
    <th mat-header-cell *matHeaderCellDef> Factor Convexidad </th>
    <td mat-cell *matCellDef="let element"> {{element.factor_convexidad}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
