<h1>Flujo Detallado</h1>
<div class="example-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th style="color: blue;font-weight: bold;" mat-header-cell *matHeaderCellDef> No. </th>
      <td style="color: red;font-weight: bold;" mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="fecha_programada">
      <th style="color: blue;font-weight: bold;" mat-header-cell *matHeaderCellDef> Fecha Programada </th>
      <td style="color: black;" mat-cell *matCellDef="let element"> {{element.fecha_programada}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="inflacion_periodo">
      <th style="color: blue;font-weight: bold;" mat-header-cell *matHeaderCellDef> Inflacion Periodo </th>
      <td style="color: blue"  mat-cell *matCellDef="let element"> {{element.inflacion_periodo}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="plazo_gracia">
      <th style="color: blue;font-weight: bold;text-align: center" mat-header-cell *matHeaderCellDef> Plazo de gracia </th>
      <td style="text-align: center" mat-cell *matCellDef="let element"> {{element.plazo_gracia}} </td>
    </ng-container>

    <ng-container matColumnDef="bono">
      <th style="color: blue;font-weight: bold;" mat-header-cell *matHeaderCellDef> Bono </th>
      <td [ngStyle]="{color:element.bono<0?'red':'blue'}" mat-cell *matCellDef="let element"> {{element.bono |number:'2.2-2'}} </td>
    </ng-container>

    <ng-container matColumnDef="bono_indexado">
      <th style="color: blue;font-weight: bold;" mat-header-cell *matHeaderCellDef> Bono Indexado </th>
      <td [ngStyle]="{color:element.bono_indexado<0?'red':'blue'}" mat-cell *matCellDef="let element"> {{element.bono_indexado|number:'2.2-2'}} </td>
    </ng-container>

    <ng-container matColumnDef="cupon">
      <th style="color: blue;font-weight: bold;" mat-header-cell *matHeaderCellDef> Cupon </th>
      <td [ngStyle]="{color:element.cupon<0?'red':'blue'}" mat-cell *matCellDef="let element"> {{element.cupon|number:'2.2-2'}} </td>
    </ng-container>

    <ng-container matColumnDef="cuota">
      <th style="color: blue;font-weight: bold;" mat-header-cell *matHeaderCellDef> Cuota </th>
      <td [ngStyle]="{color:element.cuota<0?'red':'blue'}" mat-cell *matCellDef="let element"> {{element.cuota|number:'2.2-2'}} </td>
    </ng-container>

    <ng-container matColumnDef="amortizacion">
      <th style="color: blue;font-weight: bold;"  mat-header-cell *matHeaderCellDef> Amortizacion </th>
      <td [ngStyle]="{color:element.amortizacion<0?'red':'blue'}" mat-cell *matCellDef="let element"> {{element.amortizacion|number:'2.2-2'}} </td>
    </ng-container>

    <ng-container matColumnDef="prima">
      <th style="color: blue;font-weight: bold;" mat-header-cell *matHeaderCellDef> Prima </th>
      <td [ngStyle]="{color:element.prima<0?'red':'blue'}" mat-cell *matCellDef="let element"> {{element.prima|number:'2.2-2'}} </td>
    </ng-container>

    <ng-container matColumnDef="escudo">
      <th style="color: blue;font-weight: bold;" mat-header-cell *matHeaderCellDef> Escudo </th>
      <td [ngStyle]="{color:element.escudo<0?'red':'blue'}" mat-cell *matCellDef="let element"> {{element.escudo|number:'2.2-2'}} </td>
    </ng-container>

    <ng-container matColumnDef="flujo_emisor">
      <th style="color: blue;font-weight: bold;" mat-header-cell *matHeaderCellDef> Flujo Emisor </th>
      <td [ngStyle]="{color:element.flujo_emisor<0?'red':'blue'}" mat-cell *matCellDef="let element"> {{element.flujo_emisor|number:'2.2-2'}} </td>
    </ng-container>

    <ng-container matColumnDef="flujo_emisor_escudo">
      <th style="color: blue;font-weight: bold;" mat-header-cell *matHeaderCellDef> Flujo Emisor/Escudo </th>
      <td [ngStyle]="{color:element.flujo_emisor_escudo<0?'red':'blue'}" mat-cell *matCellDef="let element"> {{element.flujo_emisor_escudo|number:'2.2-2'}} </td>
    </ng-container>

    <ng-container matColumnDef="flujo_bonista">
      <th style="color: blue;font-weight: bold;" mat-header-cell *matHeaderCellDef> Flujo Bonista </th>
      <td [ngStyle]="{color:element.flujo_bonista<0?'red':'blue'}" mat-cell *matCellDef="let element"> {{element.flujo_bonista|number:'2.2-2'}} </td>
    </ng-container>

<!--    <ng-container matColumnDef="flujo_actual">-->
<!--      <th style="color: blue;font-weight: bold;"mat-header-cell *matHeaderCellDef> Flujo Actual </th>-->
<!--      <td [ngStyle]="{color:element.flujo_actual<0?'red':'blue'}" mat-cell *matCellDef="let element"> {{element.flujo_actual|number:'2.2-2'}} </td>-->
<!--    </ng-container>-->

<!--    <ng-container matColumnDef="flujo_actual_plazo">-->
<!--      <th style="color: blue;font-weight: bold;" mat-header-cell *matHeaderCellDef> Flujo AxP </th>-->
<!--      <td  [ngStyle]="{color:element.flujo_actual_plazo<0?'red':'blue'}" mat-cell *matCellDef="let element"> {{element.flujo_actual_plazo|number:'2.2-2'}} </td>-->
<!--    </ng-container>-->

<!--    <ng-container matColumnDef="factor_convexidad">-->
<!--      <th style="color: blue;font-weight: bold;" mat-header-cell *matHeaderCellDef> Factor Convexidad </th>-->
<!--      <td [ngStyle]="{color:element.factor_convexidad<0?'red':'blue'}" mat-cell *matCellDef="let element"> {{element.factor_convexidad|number:'2.2-2'}} </td>-->
<!--    </ng-container>-->

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" ></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<div id="container-main-right-buttons">
  <button routerLink='..' mat-raised-button color="warn" class="container-main-right-buttons-conf"  style="background-color: black;">Regresar</button>
</div>
