table {
  width: 100%;
}

#container-main-right-buttons{
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}

.example-container {
  max-height: 80vh;
  max-width: 100%;
  overflow: auto;
}

th.mat-header-cell{
  text-align: center;
}

tr.mat-row{
  text-align: center;
}
.mat-cell{
  font-size: 0.9vw;

}
.mat-header-cell{

  font-size: 0.7vw;
}
