table {
  width: 100%;
}

#container-main-right-buttons{
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}

.example-container {
  max-height: 80vh;
  max-width: 100%;
  overflow: auto;
}
