#header{
  display: flex;
  justify-content: center;
vertical-align: center;
  text-align: center;
font-weight: bold;
  Font-family: "Arial";
Font-size: 22px;
Line-height: 32px;
Line-height: 119%;

Paragraph-spacing: 16px;
Number-case: Lining;
Number-spacing: Tabular;
  border-bottom: 1px solid #969191 ;
  background-clip: padding-box;
  padding-bottom: 0.5rem;
}

body{
  display: flex;
  flex-direction: column;

}
#buttons{
width: 80%;

  display: flex;
  justify-content: flex-end;

}

#buttons-end-flex{
display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 70%;
}

#button-cancel{
  background-color: #C3EE65;
color: black;
  transition: 0.3s;
}
#button-cancel:hover{
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

#button-aceptar{
  background-color:#57B6FF;
  color: white;
  width: 120px;
  transition: 0.3s;
}

#button-aceptar:hover{
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

::ng-deep .mat-form-field-infix {


}

::ng-deep ng-star-inserted{
  width: 100%;

}

::ng-deep.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick{

  color: #57B6FF!important;
}

::ng-deep .mat-dialog-container {
  width: 400px !important;
  padding: 2rem 0rem 1.8rem 0rem;
  border-radius: 7px;
}
::ng-deep .mat-form-field-flex{

  width:80%  !important;
}
::ng-deep .mat-form-field {
  width: 100%;
  font-size: 13px;
  width: 100%;
 vertical-align: center;
}
::ng-deep .mat-form-field-wrapper{

  display: flex;
  justify-content: center;
}

#main{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 2.4rem;
  padding-bottom: 0rem;
  align-items: center;
}
