<link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">

<mat-sidenav-container >

  <mat-sidenav *ngIf="validView()" opened disableClose="true" >
    <div class="box wrapper" >
        <div class="superior" >
          <button mat-button class="menu-button" routerLink=''>
            <mat-icon>home</mat-icon>
            <span>Inicio</span>
          </button>
          <button mat-button class="menu-button" routerLink='/bono-history'>
            <mat-icon>description</mat-icon>
            <span>Historial</span>
          </button>
          <button mat-button class="menu-button" routerLink='/user-guide'>
            <mat-icon>live_help</mat-icon>
            <span>Guia</span>
          </button>
        </div>
        <div class="inferior">
          <img src="assets/logo-celeste.png">
          <mat-divider></mat-divider>
          <button mat-button class="menu-button" routerLink='/profile'>
            <mat-icon>account_circle</mat-icon>
            <span>Usuario</span>
          </button>
          <button mat-button class="menu-button" (click)="logout()">
            <span class="material-icons">logout</span>
            <span>Cerrar Sesión</span>
          </button>
        </div>
    </div>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="menu-icon" *ngIf="isMobile">
      <i (click)="sidenav.toggle()" class="material-icons-outlined">menu</i>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

