/*h1,h2{
  margin-left: 1rem;
}





mat-form-field{
  height: 56px;
}


.box{
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.izq{
  flex-direction: column;
  margin-left: 1rem;
}

.der{
  margin-right: 1rem;
  flex-direction: column;
}*/

.anios{
  display: flex;
  align-items: center;
  margin-left: 1rem;
  margin-top: 2rem;
}

.btn{
  height: 43px;
  width: 176px;
  margin-left: 1rem;
  background: black;
  color: white;
}

.mat-button.mat-button-disabled{

  color: red;
}

.next{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (max-width:1120px ) {
  .next {
flex-direction: column;
  }

  .next button{
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 23.9rem;
  }
}

.btn-next{
  height: 43px;
  width: 242px;
  background: black;
  color: white;
}

.full-width{
  margin-left: 1rem;
  margin-top: 1rem;
  width:400px !important;
}
