<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>

<div class="box">
  <div class="left">
    <mat-icon class="icono">account_circle</mat-icon>
  </div>
  <div class="right">
    <mat-grid-list cols="1"  rowHeight="7:1">
    <mat-card class="card" style="display: flex;justify-content: center; flex-direction: column;align-items: center;">


        <mat-card-content class="aln">
          <form class="login-form" [formGroup]="editForm1">
            <mat-form-field class="form-field"  appearance="outline">
              <mat-label>Nombre completo</mat-label>
              <input autocomplete="off" formControlName="fullname" matInput required>
            </mat-form-field>

            <mat-form-field  class="form-field" appearance="outline">
              <mat-label>Teléfono</mat-label>
              <input autocomplete="off" formControlName="phone" type="text" maxlength="9" matInput required>
            </mat-form-field>
          </form>

        </mat-card-content>
      <button [disabled]="!editForm1.valid" (click)="submitUpdateDataForm()" mat-button class="btn" > Actualizar Datos</button>

    </mat-card>


      <mat-card class="card" style=" height: auto;display: flex;justify-content: center; flex-direction: column;align-items: center;">


        <mat-card-content class="aln">
          <form class="login-form" [formGroup]="editForm2">
            <mat-form-field class="form-field"  appearance="outline">
              <mat-label>Contraseña Actual</mat-label>
              <input autocomplete="off" formControlName="actualPassword" type="password" placeholder="***********" matInput required>
            </mat-form-field>

            <mat-form-field  class="form-field" appearance="outline">
              <mat-label>Contraseña Nueva</mat-label>
              <input autocomplete="off" formControlName="newPassword" type="password" placeholder="***********" matInput required>
            </mat-form-field>
            <mat-form-field  class="form-field" appearance="outline">
              <mat-label>Confirmar Contraseña Nueva</mat-label>
              <input autocomplete="off" formControlName="confirmNewPassword" type="password" placeholder="***********" matInput required>
            </mat-form-field>
          </form>

        </mat-card-content>
        <button [disabled]="!editForm2.valid" (click)="submitUpdatePasswordForm()" mat-button class="btn" > Actualizar Contraseña</button>

      </mat-card>

    </mat-grid-list>
  </div>

</div>
