::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline{
  background-color: white !important;
  border-radius: 5px;
}

::ng-deep mat-label{

  background-color: white !important;
  border-radius: 4px !important;
}

.mat-button.mat-button-disabled{
  color: gray;
  opacity: 100;
}

p {
  font-size: 20px;
  font-weight: 400;
  line-height: 28.13px;
}

.icono{
  transform: scale(9);
  /*font-size: 172px;*/
  /*width: 172px;*/
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.left {
  margin-right: 5rem;
  margin-bottom: 5rem;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 3rem;
}

.card {
  background: #57b6ff;
  width: 350px;
  height: auto;
  border-radius: 12px;
  margin-bottom: 3rem;
}
::ng-deep .mat-form-field{
  width: 100% !important;

}
.content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100%;
}

.btn {
  background: black;
  color: white;
  width: 230px;
  height: 40px;
}

@media (max-width: 898px) {

.box{

  display: flex;
  justify-content: center;
  flex-direction: column;
align-items: center;
  width: 100%;
  align-content: center;
}

  .left{
    padding-top: 4rem;
    margin-right: 0;
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .right{
    margin: 0px;
  }

}
