<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>

<div class="box">
  <div class="left">
    <mat-icon class="icono">account_circle</mat-icon>
  </div>
  <div class="right">
    <mat-card class="card">
      <mat-card-content class="content">
        <p>Nombre  : Franco Vasquez</p>
        <p>Correo  : franco@gmail.com</p>
        <p>Teléfono: 925131891</p>
      </mat-card-content>
    </mat-card>

    <button mat-button class="btn"> Editar Perfil</button>
  </div>
</div>
