::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline{
  background-color: white !important;
  border-radius: 5px;
}

::ng-deep mat-label{

  background-color: white !important;
  border-radius: 4px !important;
}
.ingresar{
  width: 360px;
  height: 64px;
  background-color: black;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.form-field{
  width: 100%;
}

::ng-deep mat-sidenav-content{
  padding: 0px !important;

}

.w-1{
  display: flex;
  width: 100%;
  color: white;
}

.aln{
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.box{
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-between;
  background-color: #C3EE65;
}

.registrate{
  margin-left: 2rem;
}

.to-register-page{
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

h1, mat-card, button, p{
  margin: 1rem;
}

.login-image{
  width: 100%;
  height: 99%;
}

.logo{
  width: 67px;
  height: 98px;
  margin: 1rem;
}

.carta{
  display: flex;
  flex-direction: column;
  width: 50%;
  background: #57B6FF;
  border-radius: 12px;
}

.img-right{
  width: 80%;
}

.bienvenida{
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  display: flex;
  letter-spacing: -0.02em;
  color: #667080;
}

::ng-deep mat-sidenav-content{
padding: 0 !important;
}


@media (max-width: 950px) {
  .img-right{
    visibility: hidden;
    width: 0;
    height: 0;
  }
  #LoginGrid{
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
  }


  .login-grid-tile{
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .login-image{
    width: 80vw;
  }

  .login-card {
    width: 80vw;
    padding: 4rem;
  }

}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline{
  background-color: white !important;
border-radius: 5px;
}

::ng-deep mat-label{

  background-color: white !important;
border-radius: 4px !important;
}
@media (max-width: 426px) {
  .ingresar{
    width: 260px;
    height: 48px;
    background-color: black;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
  }

  .bienvenida{
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: -0.02em;
    color: #667080;
  }

  .logo{
    width: 57px;
    height: 88px;
  }

  .to-register-page{
    font-weight: 400;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .carta{
    width: 70%;
  }
}


@media (max-width: 321px) {
  .ingresar{
    width: 200px;
    height: 48px;
    background-color: black;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
  }

  .bienvenida{
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: -0.02em;
    color: #667080;
  }

  .carta{
    display: flex;
    flex-direction: column;
    width: 70%;
    background: #57B6FF;
    border-radius: 12px;
  }

}
